@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	text-transform: capitalize;
}

a {
	text-decoration: none;
	color: #121212;
	transition: 0.2s ease;
}

img {
	width: 100%;
}

body {
	font: normal normal 1rem "Poppins";
	color: #121212;
}

.container {
	max-width: 1320px;
	padding: 2rem;
	margin: 0 auto;
	overflow: hidden;

	@media (max-width: 1080px) {
		padding: 1rem;
	}
}

.container-inner {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.hidden {
	display: none;
}

.slide-right {
	animation: slide-right 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slide-right {
	from {
		opacity: 0;
		transform: translateX(10%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slide-left {
	animation: slide-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(-10%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.header,
.projects-list:not(.images) {
	padding-bottom: 3rem;
	border-bottom: 1px solid rgb(12 12 12 / 0.1);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;

	h1 {
		text-align: center;
	}

	@media (max-width: 1080px) {
		flex-direction: column;
	}
}

.header i {
	font-size: 2rem;
}

.projects-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.projects-list-header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: rgb(12 12 12 / 0.7);
	margin-bottom: 2rem;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.list:not(.img-list) .list-item a {
	display: block;
	background-color: #f0f0f0;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);

	&:hover {
		transform: translateY(-5px);
		box-shadow:
			0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
	}
}

.disabled {
	user-select: none;
	pointer-events: none;
	opacity: 0.5;
}

.img-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(300px - 1rem), 1fr));
}

.img-list .list-item {
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		border-radius: 1rem;
		background-color: rgb(12 12 12 / 0.1);
		overflow: hidden;
		position: relative;
		transition: all 0.3s ease;
		gap: 0.5rem;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0);
			transition: background 0.3s ease;
			z-index: 1;
		}

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

			&::before {
				background: rgba(0, 0, 0, 0.2);
			}

			img {
				transform: scale(1.01);
				filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.2));
			}
		}

		img {
			height: 100%;
			object-fit: cover;
			border-radius: inherit;
			border: 1px solid rgb(12 12 12 / 0.1);
			filter: drop-shadow(0 0 10px rgb(12 12 12 / 0.1));
			transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.project-caption {
			font-size: 0.875rem;
			font-weight: 500;
			color: rgb(12 12 12 / 0.7);
			text-align: center;
			padding: 0.5rem;
			transition: all 0.3s ease;
			transform: translateY(0);
			width: 100%;
			background: rgba(255, 255, 255, 0.9);
			border-radius: 0.5rem;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
		}
	}
}

.select-box {
	display: flex;
	gap: 0.5rem;
	background-color: #f0f0f0;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.select-box-item {
	user-select: none;
	padding: 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 0.875rem;
	font-weight: 500;
	color: #666;
	transition: all 0.2s ease;
	position: relative;

	&:hover {
		color: #121212;
		background-color: rgba(255, 255, 255, 0.5);
	}

	&.selected {
		color: #121212;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		pointer-events: none;
		opacity: 0.8;

		&::after {
			content: "";
			position: absolute;
			bottom: -0.5rem;
			left: 50%;
			transform: translateX(-50%);
			width: 20px;
			height: 2px;
			background-color: #121212;
			border-radius: 1px;
		}
	}
}

.figure {
	img {
		display: block;
		margin-left: auto;
		width: 400px;
		max-width: 100%;
	}
}

.footer {
	margin-top: 5rem;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;

	a {
		color: crimson;

		&:hover {
			opacity: 0.5;
		}
	}
}
