* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, sans-serif;
}

button,
i {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

body {
	background: #f9f9f9;
	color: #f9f9f9;
}

.cookie-modal {
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 1rem 1.5rem;
	background-image: linear-gradient(to right, #121212, #353535);
	border-radius: 10px;
	width: 250px;
}

#close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2rem;
	color: #ccc;
}

.cookie-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.cookie-icon {
	margin-bottom: 1rem;
	font-size: 3rem;
}

.desc {
	line-height: 1.8rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn {
	width: 100%;
	border-radius: 10px;
	background: #f9f9f9;
	color: #121212;
	padding: 1rem;
}

.hidden {
	display: none;
}
